extends ../layout

block content
    a.btn.btn-default(href="/empresa") Voltar a lista
    
    h1 Id: #{empresa._id}
    h1 Nome: #{empresa.nome}
    h1 CNPJ: #{empresa.cnpj}
    h1 E-mail: #{empresa.email}
