extends ../layout

block content    
    h1 Cadastrar Empresa
    form(action="add" method="post")
        h2 Dados da Empresa
        .form-group.col-md-6
            label Nome da Empresa
            input.form-control(type="text" name="nome" placeholder="Razão Social")
        .form-group.col-md-6
            label C.N.P.J.
            input.form-control(type="text" name="cnpj" placeholder="CNPJ")
        .form-group.col-md-12
            label Endereço completo
            input.form-control(type="text" name="endereco" placeholder="Endereço completo (Rua, Bairro, Cidade, Cep e etc)")
        .form-group.col-md-4
            label Telefone
            input.form-control(type="text" name="telefone" placeholder="Telefone")
        .form-group.col-md-4
            label E-mail
            input.form-control(type="text" name="email" placeholder="E-mail")
        .form-group.col-md-4
            label Senha
            input.form-control(type="password" name="senha" placeholder="Senha")
        hr
        
        h2 Dados do Contato
        .form-group.col-md-4
            label Nome
            input.form-control(type="text" name="contato[0][nome]" placeholder="Nome do contato")
        .form-group.col-md-4
            label E-mail
            input.form-control(type="text" name="contato[0][email]" placeholder="E-mail do contato")
        .form-group.col-md-4
            label Telefone
            input.form-control(type="text" name="contato[0][telefone]" placeholder="Telefone do contato")        
        hr       
        br
        a.btn.btn-success(href='#') Adicionar Responsável        
        br
        #box
        br
        
        button.btn.btn-success(type="submit") Salvar 
        a.btn.btn-danger(href="/empresa") Voltar

        //- script.
        //-     $(function () {
        //-     var counter = 0;
        //-     $('a').click(function () {
        //-     var elems =             
        //-     '<div class="row jumbotron">'+
        //-       '<h2> Dados do Responsável ' + (counter + 1) + '</h2>' + 
        //-       '<div class="form-group col-md-4">'+
        //-       '<label>Nome </label>'+
        //-       '<input class="form-control" type="text" name="responsavel['+ counter +'][nome]" value="'+ counter +'">'+
        //-       '</div>'+               
        //-       '<div class="form-group col-md-4">'+
        //-       '<label>Sobrenome </label>'+
        //-       '<input class="form-control" type="text" name="responsavel['+ counter +'][sobrenome]" value="'+ counter +'">'+
        //-       '</div>'+               
        //-       '<div class="form-group col-md-4">'+
        //-       '<label>CPF/CNPJ </label>'+
        //-       '<input class="form-control" type="text" name="responsavel['+ counter +'][cpfcnpj]" value="'+ counter +'">'+
        //-       '</div>'+
        //-       '<div class="form-group col-md-4">'+
        //-       '<label>Telefone </label>'+
        //-       '<input class="form-control" type="text" name="responsavel['+ counter +'][telefone]" value="'+ counter +'">'+
        //-       '</div>'+
        //-       '<div class="form-group col-md-4">'+
        //-       '<label>E-mail </label>'+
        //-       '<input class="form-control" type="text" name="responsavel['+ counter +'][email]" value="'+ counter +'">'+
        //-       '</div>'+
        //-       '<div class="form-group col-md-4">'+
        //-       '<label>Senha </label>'+
        //-       '<input class="form-control" type="text" name="responsavel['+ counter +'][senha]" value="'+ counter +'">'+
        //-       '</div>'+
        //-     '</div>';               
        //-     $('#box').append(elems);            
        //-     counter++;
        //-     return false;
        //-     });
        //-     $('.removebtn').live('click',function () {
        //-     $(this).parent().remove();
        //-     });
        //-     });
        